<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por registrarte <%= @user.first_name %>!</h1>
    <p>Le damos la bienvenida.</p>
  </body>
</html>